{% extends "base.html" %}

{% block content %}

<a class="btn btn-outline-dark" href="{% url 'blog:new' %}">New Post</a>

<ul class="list-unstyled">
  {% for post in posts %}
  <li class="py-2 d-flex justify-content-between">
    <h2>{{ post.title }}</h2>
    <div class="buttons">
      <a class="btn btn-outline-primary me-2" href="{% url 'blog:post_update' post.slug %} ">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'blog:post_delete' post.slug %}">Delete</a>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
